<style type="text/css">
    a.basic, a.basic:hover, a.basic:active, a.basic:visited {
        background:none;
        font-weight:normal;
        color:#4b8cb0;
    }

    .blue_subtitle {
        font-family:Trebuchet MS;
        font-size:14pt;
        color:#3c91c6;
        padding:0;
        margin:0;
    }

    .blue_module
    {
        width:420px;
        background-color:#eff7f9;
        padding:15px 20px 8px 20px;
        margin-right:30px;
        border-bottom:1px dotted #d9e4e8;
    }

    a.event_link {
        color:#1978af;
        font-size:11pt;
        line-height:14pt;
        text-decoration:underline;
    }

    .date {
        font-size:8pt;
        padding:3px 0;
        font-style:italic;
        color:#7e8798;
    }
</style>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.1to1media.com/view.aspx?docid=34315" class="event_link basic" target="_blank">Case In Brief: DirectBuy San Diego Lowers Customer Acquisition Costs</a><br/>
  <b>1to1 Media</b> | <span style="margin-top:5px;">May 29, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://pevc.dowjones.com/Article?an=DJFVW00020130529e95taoag2&cid=32135029&ctype=ts&ReturnUrl=http%3a%2f%2fpevc.dowjones.com%3a80%2fArticle%3fan%3dDJFVW00020130529e95taoag2%26cid%3d32135029%26ctype%3dts" class="event_link basic" target="_blank">
    Five9 Raises $34.5M as Call Centers Move to the Cloud</a><br/>
  <b>Dow Jones</b> | <span style="margin-top:5px;">May 29, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://blogs.wsj.com/venturecapital/2013/05/29/the-daily-startup-tunein-funded-to-keep-human-djs-on-the-air/" class="event_link basic" target="_blank">The Daily Startup: TuneIn Funded to Keep Human DJs on the Air</a><br/>
  <b>The Wall Street Journal</b> | <span style="margin-top:5px;">May 29, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://finance.fortune.cnn.com/2013/05/29/venture-capital-deals-349/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+fortunefinance+%28Fortune+Finance%3A+Hedge+Funds%2C+Markets%2C+Mergers+%26+Acquisitions%2C+Private+Equity%2C+Venture+Capital%2C+Wall+Street%2C+Washington%29" class="event_link basic" target="_blank">Venture capital deals</a><br/>
  <b>CNN Money</b> | <span style="margin-top:5px;">May 29, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://venturebeat.com/2013/05/29/five9/" class="event_link basic" target="_blank">Cloud call center biz Five9 hooks $34.5M from SAP</a><br/>
  <b>Venture Beat</b> | <span style="margin-top:5px;">May 29, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://gigaom.com/2013/05/29/five9-takes-on-34-5m-to-get-more-call-centers-aboard-the-cloud/" class="event_link basic" target="_blank">
    Five9 takes on $34.5M to get more call centers aboard the cloud</a><br/>
  <b>GigaOm</b> | <span style="margin-top:5px;">May 29, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.reuters.com/article/2013/05/29/idUS236850566320130529" class="event_link basic" target="_blank">Cloud call center biz Five9 hooks $34.5M from SAP, Adam Street, & others</a><br/>
  <b>Reuters</b> | <span style="margin-top:5px;">May 29, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.techinvestornews.com/Cloud/Cloud-Tech-Bloggers/cloud-call-center-biz-five9-hooks-34.5m-from-sap-adam-street-others" class="event_link basic" target="_blank">Cloud call center biz Five9 hooks $34.5M from SAP, Adam Street, & others</a><br/>
  <b>Tech Investor News</b> | <span style="margin-top:5px;">May 29, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.1to1media.com/view.aspx?docid=34183" class="event_link basic" target="_blank">Savvy Investment Helps NJ 2-1-1 Weather the Storm</a><br/>
  <b>1to1 Media</b> | <span style="margin-top:5px;">Mar 20, 2013</span>
</div>

<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.cioreview.com/magazine/BYOD-Empowered-by-the-Cloud-RIQW623868110.html" class="event_link basic" target="_blank">
    CEO Spotlight: BYOD: Empowered by the Cloud</a><br/>
  <b>CIO Review</b> | <span style="margin-top:5px;">Mar 7, 2013</span>
</div>

<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.crmxchange.com/column/cloud_myths/five9march2013.asp" class="event_link basic" target="_blank">Challenging Cloud Myths</a>
  <br/>
  <b>CRMXchange</b> | <span style="margin-top:5px;">March 5, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.contactcenterpipeline.com/CcpIssue.aspx?pubid=685" class="event_link basic" target="_blank">New Jersey 2-1-1 Partnership</a><br/>
  <b>Contact Center Pipeline</b> | <span style="margin-top:5px;">Mar 1, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://urgentcomm.com/citizen-engagement/cloud-based-call-center-platform-helps-nj-agency-deal-superstorm-sandy" class="event_link basic" target="_blank">Cloud-based call-center platform helps N.J. agency deal with Superstorm Sandy</a>
  <br/>
  <b>Urgent Communications</b> | <span style="margin-top:5px;">Feb 28, 2013</span>
</div>

<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.mycustomer.com/topic/customer-experience/infographic-social-customer-service-vs-contact-centre/162479" class="event_link basic" target="_blank">Infographic: Social customer service vs the contact centre</a>
  <br/>
  <b>MyCustomer.com</b> | Feb 25, 2013</div>

<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.mediabistro.com/alltwitter/social-telephone-support_b36763" class="event_link basic" target="_blank">In This Social World, 71% Still Prefer Telephone Customer Support From Brands</a>
  <br/>
  <b>Media Bistro</b> | <span style="margin-top:5px;">Feb 26, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://outbound-call-center.tmcnet.com/topics/outbound-call-center/articles/327984-five9s-cloud-call-center-solution-increases-leads-directbuy.htm" class="event_link basic" target="_blank">Five9's Cloud Call Center Solution Increases Leads for DirectBuy</a>
  <br/>
  <b>TMCNet</b> | <span style="margin-top:5px;">Feb 22, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.tmcnet.com/channels/hosted-contact-center/articles/327704-five9-brings-call-centers-the-cloud.htm" class="event_link basic" target="_blank">Five9 Brings Call Centers to the Cloud</a>
  <br/>
  <b>TMCNet</b> | <span style="margin-top:5px;">Feb 21, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.tmcnet.com/channels/call-center-on-demand/articles/326339-better-cheaper-faster-five9-helps-contact-centers-move.htm" class="event_link basic" target="_blank">Better. Cheaper. Faster. Five9 Helps Contact Centers Move to the Cloud</a>
  <br/>
  <b>TMCNet</b> | <span style="margin-top:5px;">Feb 11, 2013</span>
</div>

<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.1to1media.com/customregistration.aspx?itemid=34073&from=WebinarPopup" class="event_link basic" target="_blank">Meeting Customer Needs in Times of Disaster Driving Contact Center Innovation</a>
  <br/>
  <b>1to1 Media</b> | Feb 20, 2013</div>


<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.cmswire.com/cms/customer-experience/when-a-customer-calls-optimizing-the-customer-experience-across-all-channels-019354.php" class="event_link basic" target="_blank">When a Customer Calls: Optimizing the Customer Experience Across All Channels</a>
  <br/>
  <b>CMS Wire</b> |<span style="margin-top:5px;"> Jan 29, 2013</span></div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.crmbuyer.com/story/The-Call-Center-in-the-Cloud-77128.html" class="event_link basic" target="_blank">The Call Center in the Cloud</a>
  <br/>
  <b>CRM Buyer</b> | <span style="margin-top:5px;">Jan 21, 2013</span></div>
<div style="margin-bottom:15px;">
  <a href="http://www.tmcnet.com/channels/call-center-on-demand/articles/322198-five9-appoints-keith-bennett-as-sales-director-cala.htm" class="event_link basic" target="_blank">Five9 Appoints Keith Bennett as Sales Director for CALA</a>
  <br/>
  <b>TMC Net </b>| <span style="margin-top:5px;">Jan 9, 2013</span>
</div>

<div style="margin-bottom:15px;">
  <a href="http://techcrunch.com/2013/01/08/insidesales-com-raises-35m-from-us-ventures-for-predictive-analytics-platform/" class="event_link basic" target="_blank">InsideSales.com Raises $35M From US Ventures For Predictive Analytics Platform</a>
  <br/>
  <b>TechCrunch </b>| <span style="margin-top:5px;">Jan 8, 2013</span></div>
<div style="margin-bottom:15px;">
  <a href="http://www.upi.com/Business_News/Security-Industry/2013/01/08/Cloud-computing-expands-in-Latin-America/UPI-45711357674141/" class="event_link basic" target="_blank">Cloud computing expands in Latin America</a>
  <br/>
  <b>UPI </b>| <span style="margin-top:5px;">Jan 8, 2013</span>
</div>

<div style="margin-bottom:15px;">
  <a href="http://call-center-software.tmcnet.com/topics/call-center-software/articles/321726-five9-recognized-innovation-the-cloud.htm" class="event_link basic" target="_blank">Five9 Recognized for Innovation in the Cloud</a><a href="http://paceassociation.com/chapters/new-york-metro-chapter/?" class="event_link basic" target="_blank"></a>
  <br/>
  <b>TMC Net</b> |<span style="margin-top:5px;"> Jan 7, 2013 </span>
</div>
<div style="margin-bottom:15px;">
  <a href="http://www.destinationcrm.com/Articles/Editorial/Magazine-Features/Building-an-Impenetrable-Cloud-86724.aspx" class="event_link basic" target="_blank">Building an Impenetrable Cloud</a>
  <br/>
  <b>Destination CRM </b>| <span style="margin-top:5px;">Jan, 2013</span>
</div>
<div style="margin-bottom:15px;">
  <a href="http://www.findcloudhost.com/news-cloud-contact-center-software-provider-five9-recognized-for-innovation-in-the-cloud" class="event_link basic" target="_blank">Cloud Contact Center Software Provider Five9 Recognized for Innovation in the Cloud</a>
  <br/>
  <b>Find Cloud Host</b> | <span style="margin-top:5px;">Jan 5, 2013</span>
</div>
<div style="margin-bottom:15px; margin-top:10px;">
  <a href="http://www.telecomreseller.com/2012/12/21/five9-cloud-contact-center-software-nj-2-1-1-success-story/" class="event_link basic" target="_blank">Five9 Cloud Contact Center Software – NJ 2-1-1 Success Story </a>
  <br/>
  <b>Telecom Reseller</b> | <span style="margin-top:5px;">Dec 21, 2012</span></div>
<br />