
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <%= display(@article.title.html_safe) %>
    <%= @article.content.html_safe %>
  </div>
  <div class="col-md-1"></div>    
</div>

<script>
  $(function() {
    $('.row-fluid.subnav').children().hide();
  });
</script>
