.container.strata-container.sitemap
  .stratum-row.row-fluid
    #stratum-647.span12.stratum{:style => "position: relative"}
      .row-fluid
        .span12
          %h1
            Site Map
      .row-fluid
        .span3.sitemap_column
          %h3.sitemap_subheaders
            Products
          .sitemap_links
            %a{ href: "/products"}
              Overview
            %a{ href: "/products/virtual-contact-center"}
              Platform
            %a{ href: "/products/virtual-contact-center/acd", class: "indented"}
              ACD
            %a{ href: "/products/virtual-contact-center/ivr", class: "indented"}
              IVR
            %a{ href: "/products/virtual-contact-center/cti", class: "indented"}
              CTI
            %a{ href: "/products/virtual-contact-center/predictive-dialer", class: "indented"}
              Predictive Dialer
            %a{ href: "/products/virtual-contact-center/power-dialer", class: "indented"}
              Power and Preview Dialer
            %a{ href: "/products/inbound-contact-center"}
              Inbound
            %a{ href: "/products/outbound-contact-center"}
              Outbound
            %a{ href: "/products/blended-contact-center"}
              Blended
            %a{ href: "/products/multichannel-contact-center"}
              Multichannel
            %a{ href: "/products/contact-center-management"}
              Management Applications
            %a{ href: "/products/contact-center-management/workforce-management", class: "indented"}
              Workforce Management
            %a{ href: "/products/contact-center-management/quality-management", class: "indented"}
              Quality Management
            %a{ href: "/products/contact-center-management/reporting-analytics", class: "indented"}
              Reporting & Analytics
            %a{ href: "/products/application-integration"}
              Application Integration
            %a{ href: "/products/application-integration/cloud-apis", class: "indented"}
              Cloud APIs
            %a{ href: "/products/application-integration/crm-integration", class: "indented"}
              CRM Integration
            %a{ href: "/products/why-cloud"}
              Why Cloud
            %a{ href: "/products/whats-new"}
              What's New
            %a{ href: "/products/pricing"}
              Pricing
            %a{ href: "/social-customer-service"}
              Social Customer Service
          %h3.sitemap_subheaders
            News
          .sitemap_links
            %a{ href: "/news"}
              Overview
            %a{ href: "/news/news-releases"}
              Press Releases
            %a{ href: "/news/media-resources"}
              Media Resources
        .span3.sitemap_column
          %h3.sitemap_subheaders
            Solutions
          .sitemap_links
            %a{ href: "/solutions"}
              Overview
            %a{ href: "/solutions/marketing"}
              Marketing
            %a{ href: "/solutions/customer-service"}
              Sales
            %a{ href: "/solutions/outsourcing"}
              Outsourcing
          %h3.sitemap_subheaders
            Resources
          .sitemap_links
            %a{ href: "/resources"}
              Overview
          %h3.sitemap_subheaders
            Events
          .sitemap_links
            %a{ href: "/about/events"}
              Overview
            %a{ href: "#"}
              Registration
          %h3.sitemap_subheaders
            Legal
          .sitemap_links
            %a{ href: "/legal"}
              Overview
        .span3.sitemap_column
          %h3.sitemap_subheaders
            Services
          .sitemap_links
            %a{ href: "/contact-center-services"}
              Overview
            %a{ href: "/contact-center-services/professional-services"}
              Professional Services
            %a{ href: "/contact-center-services/training"}
              Training
            %a{ href: "/contact-center-services/support"}
              Support
          %h3.sitemap_subheaders
            About Us
          .sitemap_links
            %a{ href: "/about"}
              Overview
            %a{ href: "/about/executives"}
              Executives & Board
            %a{ href: "/about/awards"}
              Awards
            %a{ href: "/about/investors"}
              Investors
            %a{ href: "/about/contact"}
              Contact
            %a{ href: "/about/careers"}
              Careers
            %a{ href: "/about/careers/jobs", class: "indented"}
              Job Listings
          %h3.sitemap_subheaders
            Latin America
          .sitemap_links
            %a{ href: "/cala"}
              Overview
          %h3.sitemap_subheaders
            System Requirements
          .sitemap_links
            %a{ href: "/system-requirements"}
              Overview
        .span3.sitemap_column
          %h3.sitemap_subheaders
            Our Customers
          .sitemap_links
            %a{ href: "/customers"}
              Overview
          %h3.sitemap_subheaders
            Partners
          .sitemap_links
            %a{ href: "/partners"}
              Overview
            %a{ href: "/partners/referral-program"}
              Referral Program
          %h3.sitemap_subheaders
            Developers
          .sitemap_links
            %a{ href: "/development"}
              Five9 Developer Program
          %h3.sitemap_subheaders
            Cloud Security Office
          .sitemap_links
            %a{ href: "/cloud-security-office"}
              Overview
          %h3.sitemap_subheaders
            Learning Center
          .sitemap_links
            %a{ href: "/learning-center"}
              Learning Center Overview
            %a{ href: "/call-center-basics"}
              Call Center Basics
            %a{ href: "/cloud-computing-101"}
              Cloud Computing 101
            %a{ href: "/how-a-call-center-can-help-a-small-business"}
              Small Business Call Center
            %a{ href: "/call-center-management-guide"}
              Call Center Management Guide
            %a{ href: "/call-center-performance"}
              Call Center Performance
            %a{ href: "/telephone-dialing-modes"}
              Telephone Dialing Modes
            %a{ href: "/call-recording-fundamentals"}
              Call Recording Fundamentals
            %a{ href: "/third-party-telephone-verification"}
              Third Party Telephone Verification
            %a{ href: "/voip-resource-guide"}
              VoIP Resource Guide
            %a{ href: "/a-consumers-guide-to-the-do-not-call-registry"}
              A Guide to the DNC Registry
            %a{ href: "/steps-for-successful-web-conference"}
              Successful Web Conferences
            %a{ href: "/rise-and-fall-of-the-telephone-booth"}
              Rise and Fall of the Phone Booth
%script
  $('.row-fluid.subnav').children().hide();
